numpy>=2.2.6
pandas>=2.2.3
polars>=1.30.0
pydantic>=1.10.22
python-dateutil>=2.9.0
pytz>=2025.2
six>=1.17.0
typing-extensions>=4.13.2
tzdata>=2025.2
rclone>=1.67.0
pyarrow>=15.0.0
python-json-logger>=2.0.7
tqdm>=4.66.1
